<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 12及以下版本的存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Android 13及以上版本的细粒度媒体权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="点将"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- MainActivity - 锁定竖屏 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SelectionActivity - 锁定竖屏 -->
        <activity
            android:name=".SelectionActivity"
            android:screenOrientation="portrait" />

        <!-- PreviewActivity - 锁定竖屏 -->
        <activity
            android:name=".PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- DisplayActivity - 锁定竖屏，禁止配置变更导致重建 -->
        <activity
            android:name=".DisplayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />

    </application>

</manifest>